.Barbarians__Landing {
  display: grid;
  background: #f5f1ee;
  height: 180vh;
  grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end] 1fr [main-end];
  grid-template-rows: [main-start] 0.15fr [warning-start] 2fr [warning-end] 0.25fr [title-start] 0.25fr [title-end] 0fr [splash-start] 2fr [splash-end] 0fr [subtitle-start] 0.5fr [subtitle-end] 0fr [content-start] 3fr [content-end] 0.25fr [main-end];
  font-family: "Martel", serif;
}

.Barbarians__Landing__Warning {
  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row-start: warning-start;
  grid-row-end: warning-end;
  background: #14281d;
  color: #f5f1ee;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.Barbarians__Landing__Warning--heading {
  background: #0e1d15;
  margin: auto 0;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.Barbarians__Landing__Warning--text {
  padding: 0.5rem 2rem 2rem 2rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
  width: 80rem;
}

.Barbarians__Landing--title {
  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row-start: title-start;
  grid-row-end: title-end;
  display: flex;
  padding: 0.5rem 0 0 0;
}

/* .title-text {
  margin: auto 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(85, 0, 0, 1);
  font-family: "Martel", serif;
} */

.Barbarians__Landing__Splash:before {
  background-image: url("../images/for_barbarians.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}

.Barbarians__Landing__Splash {
  grid-row-start: splash-start;
  grid-row-end: splash-end;
  grid-column-start: main-start;
  grid-column-end: main-end;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgba(0, 29, 21, 1) 0%,
    rgba(20, 40, 29, 1) 30%,
    rgba(20, 40, 29, 1) 70%,
    rgba(0, 29, 21, 1) 100%
  );
  color: white;
}

.Barbarians__Landing__Splash-list {
  margin: auto 0 auto 12rem;
  text-shadow: black 0px 0px 10px;
  font-weight: 300;
  font-size: 1.25rem;
  z-index: 2;
  display: flex;
}

.Barbarians__Landing__Splash-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 3rem;
}

.Barbarians__Landing__Splash-list ul li {
  padding: 0 0 0 1rem;
}

.Barbarians__Landing__Splash-list ul li:hover {
  border-left: 3px solid white;
  background: rgba(20, 40, 29, 1);
  transition: 0.2s;
}

.Barbarians__Landing__Splash-infobox {
  text-shadow: black 0px 0px 10px;
  border: 1px solid white;
  width: 20rem;
  margin: auto 12rem auto 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.Barbarians__Landing__Splash-infobox p:first-child {
  padding: 1rem 0.5rem;
  height: 100%;
  font-size: 1.1rem;
}
.Barbarians__Landing__Splash-infobox p:nth-child(2) {
  padding: 0rem 0.5rem;
  height: 100%;
}

.Barbarians__Landing--subtitle {
  grid-row-start: subtitle-start;
  grid-row-end: subtitle-end;
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;
  padding: 0.5rem 0 0 0;
}

.Barbarians__Landing--cards-container {
  grid-row-start: content-start;
  grid-row-end: content-end;
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
