.Landing {
  display: grid;
  background: rgb(217, 219, 219);
  height: 140vh;
  grid-template-columns: [main-start] 0.5fr [content-start] 5fr [content-end] 0.5fr [sidebar-start] 3fr [sidebar-end] 0.5fr [main-end];
  grid-template-rows: [main-start] 0fr [splash-start] 2fr [content-start] 0.5fr [splash-end] 2fr [content-end] 1fr [main-end];
}

.Splash {
  background: rgb(44, 0, 0);
  grid-row-start: splash-start;
  grid-row-end: splash-end;
  grid-column-start: main-start;
  grid-column-end: main-end;
  z-index: 1;
}

.Landing__News {
  background: rgb(68, 68, 68);
  grid-row-start: content-start;
  grid-row-end: content-end;
  grid-column-start: content-start;
  grid-column-end: content-end;
  z-index: 2;
}

.Landing__Sidebar {
  background: rgb(60, 88, 58);
  grid-row-start: content-start;
  grid-row-end: content-end;
  grid-column-start: sidebar-start;
  grid-column-end: sidebar-end;
  z-index: 2;
}
