.Offices__sidebar-Landing {
  background: grey;
  display: flex;
  grid-column-start: sidebar-start;
  grid-column-end: sidebar-end;
  grid-row-start: content-start;
  grid-row-end: content-end;
}

.Offices__sidebar-list {
  font-weight: 300;
  font-size: 1.25rem;
  z-index: 2;
  display: flex;
  padding: 1rem;
}
.Offices__sidebar-list ul {
  list-style: none;
}

.Offices__sidebar-list ul li:hover {
  border-left: 4px solid rgb(88, 0, 0);
  padding: 0rem 0rem 0rem 0.75rem;
}

.Offices__sidebar-list ul li {
  padding: 0 0 0 1rem;
}
