body {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Header" "Landing";
}

.Header {
  grid-area: Header;
}

.Landing {
  grid-area: Landing;
}
